<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895879314407-tch4pfpt3rdrl43r0r8bf5uel3t0pgob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895879314407-tch4pfpt3rdrl43r0r8bf5uel3t0pgob</string>
	<key>API_KEY</key>
	<string>AIzaSyAaayuL9pXLNwHD3HPxnlHEUvhWEuEe6Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>895879314407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heonrim.pawpoint</string>
	<key>PROJECT_ID</key>
	<string>pawpoint-8fbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpoint-8fbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895879314407:ios:a35ea71819537851531b42</string>
</dict>
</plist>